#calc-container h2 {
	text-align: center;
	margin-bottom: 2rem;
}

.form-inputs {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.form-inputs input {
	border-radius: 10px;
	border: 1px solid #1a535c;
	height: 50px;
}

.form-control {
	display: flex;
	flex: 1;
	flex-direction: column;
	margin-bottom: 1rem;
}

.form-control label {
	font-weight: bold;
	margin-bottom: 0.6rem;
}

.form-control input {
	padding: 1rem 0.5rem;
}

.form-buttons {
	display: flex;
	justify-content: space-around;
	gap: 1rem;
	margin-top: 2rem;
}
